<!DOCTYPE html>
<html>
    <%- include('../layouts/head') %>
    <body>
        <%- include('../layouts/header') %>
        <h1> Skills</h1>

        <%- include('../layouts/footer') %>
    </body>
</html>